.navbar-item {
    margin: 0 10px;
    color: black;
  }
  
  .navbar-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar-link:hover {
    color: #00FF00; /* Green hover effect */
  }
  
  .wycena-button {
    color: #00FF00; /* Green for the 'Wycena' button */
    font-weight: bold;
  }
  
  .dropdown-link {
    color: #333;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .dropdown-link:hover {
    color: #00FF00; /* Green hover effect for dropdown items */
  }
  
  /* Spin animation for Phone Icon */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  